<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1> Related Artist Previewer </h1>
  <h4> Search for an artist, and find related artists and samples of tracks from the Spotify API</h4>
    <div id="test"></div>
  </body>
  <script src="/javascripts/compiled.js"></script>
</html>
