body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;
}

.card {
	overflow: hidden;
}

.title {
	font-size: 10px;
	overflow: hidden;
}

.title span {
	max-width: 100%;
	overflow: hidden;
}

.audio {
	overflow: hidden
}

.search-form {
	padding: 2em;
}