body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;
}

.card {
	border: 1px solid black;
	height: 550px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.title {
	font-size: 10px;
	max-width: 300px;
	overflow: hidden;
}

.title span {
	max-width: 300px;
	overflow: hidden;
}

.audio {
	overflow: hidden
}

.search-form {
	padding: 2em;
}